@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, #dbeafe, #ffffff);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.logo {
  font-size: 16px;
  font-weight: 800;
}

.links {
  display: flex;
  gap: 16px;
}


.link-items {
  font-size: 16px;
  align-items: center;
  text-decoration: none;
  color: #475569;
}

.link-items:hover {
  transition: color 0.3s ease-out;
  color: #000000;
}

.btn {
  all: unset;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #3b82f6;
  border-radius: 6px;
  color: #ffffff;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.badge {
  all: unset;
  font-size: 16px;
  max-width: 300px;
  border-radius: 50px;
  padding: 4px 8px;
  background-color: #e4e4e7;
  border: 1px solid #d4d4d4;
  width: fit-content;
  margin: 0 auto;
}

.badge:hover {
  background-color: #d4d4d4;
  transition: background-color 0.3s ease-out;
}

.hero-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  height: 100%;
}

.hero-title {
  font-size: 60px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  font-weight: bold;
  line-height: 1.1;
}

.hero-title-container {

  padding-top: 30px;
  margin-top: 30px;
}

.hero-description {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  font-size: 18px;
  color: #64748b;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.hero-button-container {
  display: flex;
  padding-top: 100px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  font-size: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #e5e5e5;
  transition: background-color 0.3s ease-out;
  border-radius: 12px;
}

.left-line {
  height: 100vh;
  width: 2px;
  position: absolute;
  left: -50px;
  background-image: linear-gradient(to bottom, #cbd5e1, #ffffff);
}
.right-line {
  top: 0;
  height: 100vh;
  width: 2px;
  position: absolute;
  right: -50px;
  background-image: linear-gradient(to bottom, #cbd5e1, #ffffff);
}